<h1>Table: {{tableName}}</h1>
<h3>Select a table:</h3>
<button type="button" class="btn btn-primary btn-md" ng-click="changeTable('view')">View</button>
<button type="button" class="btn btn-primary btn-md" ng-click="changeTable('box')">Box</button>
<button type="button" class="btn btn-primary btn-md" ng-click="changeTable('element')">Element</button>
<button type="button" class="btn btn-primary btn-md" ng-click="changeTable('property')">Property</button>

<table class="table table-hover">
	<thead>
		<tr>
			<th ng-repeat="col in colLabels"> {{ col }} </th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="item in data">
			<td ng-repeat="col in colFields">
				{{ item[col] }}
			</td>
		</tr>
	</tbody>
</table>

<md-button class="md-fab md-primary" aria-label="Add" ng-click="addData()">
	 <md-icon md-font-icon="fa-plus" class="fa fa-2x"></md-icon>
</md-button>
<md-button class="md-fab md-primary" aria-label="Remove" ng-click="removeData()">
	 <md-icon md-font-icon="fa-minus" class="fa fa-2x"></md-icon>
</md-button>
<md-button class="md-fab md-primary" aria-label="Update" ng-click="updateData()">
	 <md-icon md-font-icon="fa-reply" class="fa fa-2x"></md-icon>
</md-button>